/** VARIABLES **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
	--primary-color: #287aea;
	--dark: #333;
	--cream: #fffdf3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--cream);
	color: var(--dark);
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/** NAVBAR **/

nav {
	display: flex;
	justify-content: space-around;
	padding: 5px 0;
	font-size: 1.2rem;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

a {
	text-decoration: none;
	color: var(--dark);
	cursor: pointer;
}

a:hover {
	color: var(--primary-color);
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/** MAIN **/

main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

/** Form **/

label {
	font-weight: 600;
}

form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

form input[type="text"] {
	padding: 5px;
	border: 1px solid var(--dark);
	border-radius: 5px;
}

form select {
	padding: 5px;
	border: 1px solid var(--dark);
	border-radius: 5px;
}

form button {
	padding: 5px 10px;
	border: 1px solid var(--dark);
	border-radius: 5px;
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
}

/** Check List **/

.check,
.delete {
	font-size: 1.2rem;
	margin-left: 1rem;
	padding: 10px;
	background-color: transparent;
	border: none;
}

.checked {
	text-decoration: line-through;
	text-decoration-thickness: 0.15em;

	color: var(--primary-color);
}

/** section **/

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

section {
	margin: 5rem 0;
}

/** container **/

.container {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
}

.container span {
	font-size: 1.2rem;
}

li {
	list-style: none;
	margin: 0.7rem;
	padding: 0.5rem;
}

.wip {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border: #333 1px solid;
	border-radius: 5px;
}

.wip > span {
	align-self: center;
	padding-left: 1rem;
}

/** Style selon le theme **/

.work {
	border: #ffa400 1px solid;
}

.personnal {
	border: #009ffd 1px solid;
}

.other {
	border: #2a2a72 1px solid;
}

/** popup **/

#popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(34, 51, 51, 0.228);
}

.hidden {
	display: none;
}

.display {
	display: flex;
	justify-content: center;
	align-items: center;
}

/** footer **/

footer {
	display: flex;
	margin-top: auto;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: var(--primary-color);
	color: #fff;
}

footer a {
	padding-left: 5px;
	text-decoration: underline;
	color: #fff;
}

footer a:hover {
	color: var(--dark);
}
